{% extends "base/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}
  <div class="image-aboutus-banner">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">Agency</h1>
       </div>
    </div>
</div>
</div>
 <section class="services pt-100 pb-50" id="services">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">
                     <h4>Types of Agency</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- Single Service -->
                  <div class="single-service">
                     <h4>Solving agency problems</h4>
                     <p>We know about the growing pains that can hamper agencies. More clients, more meetings, and more stakeholders mean diminishing agility, less transparency, and poor visibility. Everything just slows down or quality suffers.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- Single Service -->
                  <div class="single-service">
                     <h4>The benefits of a single platform</h4>
                     <p>Logins, passwords, platforms, apps, tools – the curse of an agency ad exec’s life. Agencies often use a combination of social platform’s native campaign management technology, point solutions or all-in-one stacked solutions. It can get very messy.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- Single Service -->
                  <div class="single-service">
                     <h4>Partner benefits</h4>
                     <p>Partnering with us also gives<br> you access to our clients – over 1,200 <br>of the world’s leading brands. <br>Companies who need <br>agencies that know<br> the Flashmob platform.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- Single Service -->
                  <div class="single-service">
                     <h4>Become a full service social agency</h4>
                     <p>Agencies can draw on the support and assistance of our ex-agency paid media, analytics and creative teams who have unrivalled experience in running end-to-end campaigns on the Flashmob system.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- Single Service -->
                  <div class="single-service">
                     <h4>The benefits of a single platform</h4>
                     <p>Logins, passwords, platforms, apps, tools – the curse of an agency ad exec’s life. Agencies often use a combination of social platform’s native campaign management technology, point solutions or all-in-one stacked solutions.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <!-- Single Service -->
                  <div class="single-service">
                     <h4>Building our platform around your agency</h4>
                     <p>We configure the Flashmob platform for each of our client’s specific needs. So, if you’ve already used the Flashmob platform to run a shared client’s campaign.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <style type="text/css">
  .a h1:after
  {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin-top: .6rem;
    background: #2588c5;
  } 
  </style>

{% include "base/footer.html" %}
{% endblock %}