{% extends "base/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

   <section class="hero-banner mb-30px" style="background: url({% static 'assets/img/Shape2.png'%}) no-repeat center;background-size: cover">
      <div class="container" style="">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="hero-banner__img" style="text-align: center">
              <img class="img-fluid" src="{% static 'assets/img/img1sec.png' %}"  style="height: 537px;" alt="">
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 pt-4">
            <div class="hero-banner__content">
              <h1>Think like a publisher</h1>
              <h2 style="    color: #298ffcad;">Not a Marketer</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="book-now-form">
                        <div style="display: -webkit-box;background-color: white">
                          <div class="container">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p>welcome to flashmob</p>
                                      <p style="    font-family:Montserrat,Sans-serif,serif; font-size: 60px;font-weight: 300;text-transform: none;font-style: normal;text-decoration: none;"><h2>Your Success</h2></p>
                                           <p><h1 style="color:#2888c5;line-height: 0.2;">in Business</h1></p>
                                             <p>Duty</p>
                                          <img class="img-fluid"  src="{% static 'assets/img/banner/hero-banner.png' %}" alt="">
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="text"> We all hear and read the wonders that technology does for businesses, but what does social media management software do? This tool offers a multitude of benefits to any enterprise who wants to use social media as a marketing tool.<br>
                                      One of these is its ability to manage huge volumes of data from mobile apps and devices. Users can use such information to appraise and manage customer social media activities, allowing them to improve their marketing processes. This trend has led many to believe that this capability will spur further growth in the SMMS market.
                                     </div>
                                 </div> 
                              </div>
                          </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
      <div class="container" style="background-color: #2888c5">
     <h2 class="section-intro__title" style="text-align: center;color:white"><U>Features</U></h2>
          <p class="section-intro__subtitle" style="text-align: center;color:white">The purpose of social management software involving processes such as marketing and advertising and customer service. SMMS needs to have features that could cater to these needs.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon yellow">
                    <div class="front-content">
                        <i class="fa fa-trophy"></i>
                        <h3>Platform integration</h3>
                    <p style="color:#ffffff">SMMS should enable users to manage their most prized social media platforms in a single solution.</p>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Platform integration</h3>
                    <p>This is important due to the fact that there are many social media solutions those business uses.Managing these tools becomes an easy task with the use of SMMS.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon orange">
                    <div class="front-content">
                        <i class="fa fa-anchor"></i>
                        <h3>Scheduling</h3>
                    <p style="color:#ffffff">Some social medial solutions enable business to schedule posts through the use of content calendars. </p>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Scheduling</h3>
                    <p>They also allow for the anticipation of messages releases. Content can be published at time when audiences are most likely to catch them. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box ">
                <div class="service-icon red">
                    <div class="front-content">
                        <i class="fa fa-trophy"></i>
                        <h3>Engagement</h3>
                    <p style="color:#ffffff">SMMS can significantly boost customer engagement.</p>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Engagement</h3>
                    <p>These are done through the use of pre-fabricated messages that companies can send out to customers.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon yellow">
                    <div class="front-content">
                        <i class="fa fa-trophy"></i>
                        <h3>Analytics</h3>
                    <p style="color:#ffffff">Using real time analytics, SMMS can measure a company's performance on social media. </p>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Analytics</h3>
                    <p>This is accomplished by monitoring metrics like retweets and likes, among other indicators.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon orange">
                    <div class="front-content">
                        <i class="fa fa-anchor"></i>
                         <h3>Collaboration</h3>
                    <p style="color:#ffffff">To allow collaboration on social media strategies, SMMS has the ability to support teams. </p>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Collaboration</h3>
                    <p>This feature can greatly cut risk of multiple responses from individual team members.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box ">
                <div class="service-icon red">
                    <div class="front-content">
                        <i class="fa fa-trophy"></i>
                       <h3>Social media advertising</h3>
                    <p style="color:#ffffff">An ideal SMMS should also have the ability to manage social advertising, together with posts. </p>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Social media advertising</h3>
                    <p>This functionality will also simplify social media manager’s workflows.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
      <section id="gallery" class="bg-gallery no-padding">
        <div class="container-fluid">
           <h2 class="section-intro__title" style="text-align: center;color:#f8f8f8"><U>Benefits</U></h2>
            <div class="row no-gutter gallery slideanim">  
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>Social Media Cuts Down Business Expense.</b></h4>
                                <p style="color:black; text-align: center;">As you may already know, traditional media is extremely expensive, especially when you are a start up business. Social media is an alternative option that won’t leave you unnecessarily spending company.</p>
                            </div>
                        </div>
                        <img src="{% static  'assets/img/download.jpg'%}"  class="img-fluid1" alt="">
                </div>
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>Business Can Increase Its Global Reach Without Hefty Cost.</b></h4>
                                <p style="color:black; text-align: center;">Normally traditional media is used to reach global audience but it can be very expensive and time consuming. </p>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/download (1).jpg' %}" class="img-fluid1" alt="">
                </div>
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>Best Of All Social Media Is Highly Measurable</b></h4>
                                <p style="color:black; text-align: center;">Social media is one of those tools that can offer your business stats that are instantly measurable unlike traditional media which has to be monitored over an extensive tome period. With social media, you can test marketing messages and approaches for business. </p>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/download (2).jpg' %}" class="img-fluid1" alt="">
                </div>
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>Increased Brand Awareness</b></h4>
                                <p style="color:black; text-align: center;">Social media is one of the most cost-efficient digital marketing methods used to syndicate content and increase your business visibility. </p>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/download (3).jpg' %}" class="img-fluid1" alt="">
                </div>
            </div>
            <div class="row no-gutter gallery slideanim">
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>More Inbound Traffic</b></h4>
                                <p style="color:black; text-align: center;">Without marketing your business on social media, your inbound traffic is limited to your usual customers.</p>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/download (4).jpg' %}" class="img-fluid1" alt="">
                </div>
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>Turning Your Site Into a Sales Machine</b></h4>
                                <p style="color:black; text-align: center;">Our responsibility is to provide you with the right solutions, clear and accurate calculations.</p>
                            </div>
                        </div>
                        <img src="{%  static 'assets/img/download (5).jpg' %}" class="img-fluid1" alt="">
                </div>
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>The SDN Effect on Network Security</b></h4>
                                <p style="color:black; text-align: center;">For enterprise organizations around the world, Software Defined Networking (SDN) is transforming the way we build.</p>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/images.jpg' %}" class="img-fluid1" alt="">
                </div>
                <div class="col-sm-3 portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                              <h4 style="color:#2888c5;text-align: center"><b>Prioritizing Tax Benefits</b></h4>
                                <p style="color:black; text-align: center;">Two kinds of clients scare me most. The first ask me as they pick up their tax return what they can do to lower their tax bill.</p>
                            </div>
                        </div>
                        <img src="{% static 'assets/img/images (1).jpg' %}" class="img-fluid1" alt="">
                </div>
            </div>
        </div>
    </section>
    </section>
    <section style="background: url({% static 'img/Shape.png' %});">
      <div class="container" style="padding-top: 38px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row" style="text-align: center;">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <i class="fa fa-handshake-o" style="font-size:54px;color:#2888c5"></i>
                <h1 style="text-align: center;font-size: 44px;"><b>7.158</b></h1>
                <p>HAPPY CLIENT</p>
              </div>
               <div class="col-lg-3 col-md-3 col-sm-3">
                <i class="fa fa-check-square-o" style="font-size:54px;color:#2888c5"></i>
                <h1 style="text-align: center;font-size: 44px;"><b>7.158</b></h1>
                <p>PROJECTS FINISHED</p>
              </div>
               <div class="col-lg-3 col-md-3 col-sm-3">
                <i class="fa fa-coffee" style="font-size:54px;color:#2888c5"></i>
                <h1 style="text-align: center;font-size: 44px;"><b>7.158</b></h1>
                <p>COUP OF COFFEE</p>
              </div>
               <div class="col-lg-3 col-md-3 col-sm-3">
                <i class="fa fa-clock-o" style="font-size:54px;color:#2888c5"></i>
                <h1 style="text-align: center;font-size: 44px;"><b>7.158</b></h1>
                <p>WORKING HOURS</p>
              </div>
            </div>
        </div>
      </div>
    </section>
   <div  style="background: url({% static 'assets/img/Shape3_1_1400x800.png' %}) no-repeat center;background-size: cover">
    <div class="section-title">
        <h2>our prices</h2>
    </div>
    <section class="pricing-area pt-100 pb-100" id="pricing">
        <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-price">
                  <div class="price-title">
                    <h4>standard</h4>
                  </div>
                  <div class="price-tag">
                    <h2>$25 <span>month</span></h2>
                  </div>
                  <div class="price-item">
                    <ul>
                        <li>100GB Monthly Bandwidth</li>
                        <li>100 Google AdWords</li>
                        <li>100 Domain Hosting</li>
                        <li>SSL Shopping Cart</li>
                        <li>24/7 Live Support</li>
                    </ul>
                  </div>
                  <a href="" class="box-btn">purchase now</a>
               </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-price">
                  <div class="price-title">
                    <h4>professional</h4>
                  </div>
                  <div class="price-tag center">
                    <h2>$125 <span>month</span></h2>
                  </div>
                  <div class="price-item">
                    <ul>
                        <li>100GB Monthly Bandwidth</li>
                        <li>100 Google AdWords</li>
                        <li>100 Domain Hosting</li>
                        <li>SSL Shopping Cart</li>
                        <li>24/7 Live Support</li>
                    </ul>
                  </div>
                  <a href="" class="box-btn">purchase now</a>
               </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-price">
                  <div class="price-title">
                    <h4>business</h4>
                  </div>
                  <div class="price-tag">
                    <h2>$225 <span>month</span></h2>
                  </div>
                  <div class="price-item">
                    <ul>
                        <li>100GB Monthly Bandwidth</li>
                        <li>100 Google AdWords</li>
                        <li>100 Domain Hosting</li>
                        <li>SSL Shopping Cart</li>
                        <li>24/7 Live Support</li>
                    </ul>
                  </div>
                  <a href="" class="box-btn">purchase now</a>
               </div>
               </div>
            </div>
        </div>
      </section>
    </div>  
<section class="testimonial-section2">
 <h1 style="text-align: center;"> What People Says</h1>
       <div id="testim" class="testim">

<!--         <div class="testim-cover"> -->
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">                    
                    <div class="active">
                        <p>“As a next step, we’re looking to use social media for HR sales, lead generation, internal brand advocacy, and social selling. FlashMob is always providing us with advice, ideas, and solution.The partnership helps us continuously achieve more with our strategy and product”.</p>
                         <div class="img"><img src="{% static 'assets/img/download(6).jpg' %}" alt=""></div>
                        <div class="h4">Dennis Owen</div>
                        <p>( General Manager, Branding and social Media | Hong Kong Airlines)</p>                    
                    </div>

                    <div>
                        <p>“FlashMob was key in terms of helping us manage the social scalability of the #GoodTimesOutside campaign. We were trying to be hyper-regional and deliver local content to different areas of the country. To manage that in social you either need an army of people or you need a tool like FlashMob.”</p>
                        <div class="img"><img src="{% static 'assets/img/images (3).jpg' %}" alt=""></div>
                        <div class="h4">Jessica Graham</div>
                        <p>(VP of Brand, Partnerships and Product Marketing | Helix)</p>                   
                    </div>

                    <div>
                        <p>“Hootsuit was key in terms of helping us to manage the social scalibility #GoodTimesOutside campaign. We were trying to be hyper-regional and deliver local content to different areas of the country. To manage that in social you either need an army of people or you need a tool like FlashMob.”</p>
                        <div class="img"><img src="{% static 'assets/img/download (8).jpg' %}" alt=""></div>
                         <div class="h4">Ryan McKee</div>
                         <p>(Brand Engagement Director | MEC)</p>                    
                    </div>
                </div>
                 </div>
            </div>
    </section>
<section style="background: url({% static 'assets/img/Shape4_1450x850.png' %}) no-repeat center; background-size: cover">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-6">
        <div style="padding-top: 265px;color:white; font-size:18px;font-family: Comic Sans MS">
            <b>“FlashMob supports your social media management activities with FlashMob. This powerful platform lets you listen, analyze and engage with social media mentions. It gathers every bit of information about your brand, products and solutions—even when your company handle is not explicitly used by the customer. It uses advanced text analytics to route social messages to the right people. It also enables advance management and closed loop handling.”</b> 
        </div>
     </div>
      <div class="col-lg-6 col-md-12 col-sm-6">
        <img src="{% static 'assets/img/imgsubscribe737x1024_1_600x750_1_500x650.png'%}" width="100%">
      </div>
    </div>
  </div>
</section>
<div class="team">
    <div class="container"> 
        <h2 style="text-align:center"><span class="ion-minus"></span>We Advance The Market<span class="ion-minus"></span></h2>       
      <div class="row text-center"> 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%"> 
                <div class="team-member"  style="text-align: left">
                <h4><b>Proactively Engaging</b></h4>
                <div>
                  <span><time datetime="2017-07-12T12:36:02+00:00" title="2017-07-12T12:36:02+00:00">July 12, 2019</time>
                  </span>
                  <span><a href=""><i class="fa fa-comments"></i>"0"</a></span>
                </div>
                <div   style="text-align: left">
                  E-commerce sites have taken retail online<br>and with such its audience. Once representatives used to be…
                </div>        
                </div>
                <div style="text-align: left">
                  <span><i class='far fa-user-circle' style='font-size:36px'></i></span>
                  <span>by<a href="">admin</a></span>
                </div>                            
         </div>   
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%">
                <div class="team-member"  style="text-align: left">
                <h4><b>Prioritizing Tax Benefits</b></h4>
                <div>
                  <span><time datetime="2017-07-12T12:36:02+00:00" title="2017-07-12T12:36:02+00:00">July 12, 2019</time>
                  </span>
                  <span><a href=""><i class="fa fa-comments"></i>"0"</a></span>
                </div>
                <div   style="text-align: left">
                  Two kinds of clients scare me most.<br>The first ask<br>me as they pick up their…
                </div>        
                </div>
                <div style="text-align: left">
                  <span><i class='far fa-user-circle' style='font-size:36px'></i></span>
                  <span>by<a href="">admin</a></span>
                </div>       
         </div>    
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="img-rounded" alt="team-photo" src="https://images.pexels.com/photos/295821/pexels-photo-295821.jpeg?h=350&auto=compress&cs=tinysrgb" width="100%"> 
                <div class="team-member"  style="text-align: left">
                <h4><b>The SDN Effect on Network</b></h4>
                <div>
                  <span><time datetime="2017-07-12T12:36:02+00:00" title="2017-07-12T12:36:02+00:00">July 12, 2019</time>
                  </span>
                  <span><a href=""><i class="fa fa-comments"></i>"0"</a></span>
                </div>
                <div style="text-align: left">
                  For enterprise organizations around the world, Software Defined Networking (SDN) is transforming the way we build…
                </div>        
                </div>
                <div style="text-align: left">
                  <span><i class='far fa-user-circle' style='font-size:36px'></i></span>
                  <span>by<a href="">admin</a></span>
                </div>                          
            </div>       
      </div>    
    </div>    
</div>
<section id="contact">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>let`s get in touch</h5>
      <div><u><b>Contact Details</b></u></div>
      <div><a href="tel:919776000769">Phone:+91 9776000769</a></div>
      <div><a href="mailto:suresh@hexagentechnologies.com">Email:suresh@hexagentechnologies</a></div>
      <div>Address:DLF Cyber City,DCB 817, Patia, Bhubaneswar, Odisha 751024,India.</div>
      <div>Opening Hours:10 a.m to 7 p.m</div>
    </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="" value="" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="" value="" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

    {% include "base/footer.html" %}
{% endblock %}
<style type="text/css">
    @media only screen and (max-width: 600px)
{
.col-sm-5, .pt-4
{
    top: -98px;
    background-color: white;
}
}
.text
{
    font-size: 17px;
    
}
    .hero-banner {
        background-image: url("{% static 'assets/img/Shape2.png' %}");

    }
</style>


